{
    servers {
		trusted_proxies static 172.16.0.0/16
        client_ip_headers Fly-Client-IP X-Forwarded-For
	}

    tailscale {
        state_dir "/var/lib/tailscale"

        bitwardenf {
            ephemeral false
            hostname bitwardenf
        }
    }
}

:3000 {
    reverse_proxy http://homelab2023:10000 {
        transport tailscale bitwardenf
    }
}
