{
	auto_https off
	admin off
}

:80 {
	# PostHog Cloud EU
	handle_path /peu/static/* {
		reverse_proxy https://eu-assets.i.posthog.com {
			header_up Host eu-assets.i.posthog.com
		}
	}
	handle_path /peu/* {
		reverse_proxy https://eu.i.posthog.com {
			header_up Host eu.i.posthog.com
		}
	}

	# PostHog Cloud US
	handle_path /pus/static/* {
		reverse_proxy https://us-assets.i.posthog.com {
			header_up Host us-assets.i.posthog.com
		}
	}
	handle_path /pus/* {
		reverse_proxy https://us.i.posthog.com {
			header_up Host us.i.posthog.com
		}
	}

	# Umami Cloud
	handle_path /u/* {
		reverse_proxy https://cloud.umami.is {
			header_up Host cloud.umami.is
		}
	}

	# Vercel Web Analytics
	handle_path /v/script.js {
		rewrite * /v1/script.js
		reverse_proxy https://va.vercel-scripts.com {
			header_up Host va.vercel-scripts.com
		}
	}
	handle_path /v/vitals {
		rewrite * /v1/vitals
		reverse_proxy https://vitals.vercel-insights.com {
			header_up Host vitals.vercel-insights.com
		}
	}
}
