/* custom theme */
@import url('https://cdn.jsdelivr.net/gh/sansui233/logseq-bonofix-theme/custom.css');

/* hide query builder */
.cp__query-builder-filter {
  display: none;
}

/* hide card styling */
div[data-refs-self*='"card"'] {
  box-shadow: none;
  border-radius: 0px;
  margin: 0;
  padding: 0;
}
