{
    servers {
		trusted_proxies static 172.16.0.0/16
        client_ip_headers Fly-Client-IP X-Forwarded-For
	}

    tailscale {
        ephemeral true
        hostname proxy2025
    }
}

http://owui.flessner.dev:3000 {
    reverse_proxy http://homelab2023:4000 {
        transport tailscale proxy2025
    }
}

http://proxy.flessner.dev:3000 {
    handle_path /posthog* {
        rewrite * {path}
        reverse_proxy https://eu.i.posthog.com:443 {
            header_up Host eu.i.posthog.com
            header_down -Access-Control-Allow-Origin
        }
    }

    handle_path /posthog/static* {
        rewrite * /static/{path}
        reverse_proxy https://eu-assets.i.posthog.com:443 {
            header_up Host eu-assets.i.posthog.com
            header_down -Access-Control-Allow-Origin
        }
    }
}
