app = 'flessner-proxy'
primary_region = 'ams'

[build]

[[mounts]]
source = 'data'
destination = '/var/lib/tailscale'

[http_service]
internal_port = 3000
force_https = true
auto_start_machines = false
min_machines_running = 1

[[vm]]
size = 'shared-cpu-1x'
